.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    color: var(--text-color);
}

h3 {
    margin: 10px 0;
}

.profile-img {
    display: flex;
    height: 80vh;
    align-self: center;
    align-items: center;

}

img {
    height: 100%;
    max-height: 700px;
    min-height: 200px;
    border-radius: 15px;
}

.name {
    color: var(--text-color-2);
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-flow: column;
        margin-top: 20px;
    }

    .profile-img {
        height: auto;
    }

    img {
        max-height: 350px;
        min-height: 100px;
        width: auto;
    }

}


.button-links {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.description-container {
    margin: 15px 0;
    padding-right: 10px;
}

.description {
    margin-bottom: 10px;
}