.contact-page {
    margin: 20px;
    color: var(--text-color);
    width: 100%;
}

.underline {
    border-color: var(--text-color-2) !important;
    width: 188px;
    opacity: 50%;
    padding: 0;
    margin-left: -3px;
    margin-bottom: 25px;
}
.contact-container {
    display: flex;
    flex-flow: row wrap;
    flex: 50% 50%;
    width: 100%;
}

.contact-flex {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 50% 50%;
    gap: 20px;
}

.contact-info {
    height: auto;
}

.info-text {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-icon {
    width: 25px;
}

.form {
    width: 100%;
}

.form-input {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px;
    margin: 10px 0;
    width: 90%;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid var(--secondary-color);
}

textarea {
    min-height: 140px;
}

.btn { 
    min-width: 100px; 
    width: auto;
    height: auto;
    letter-spacing: 0.5px; 
    line-height: 40px; 
    padding: 0 15px 0 15px; 
    font-size: 15px;
    background-color: var(--secondary-color);
    color: var(--text-color-4);
    font-weight: bolder; 
    border: none;
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
}

.btn:hover {
    background-color: var(--third-color); 
    color: var(--text-color); 
    border: none; 
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 999999999;
    background: var(--text-color);
    transform: translateX(100%);
    animation: shift-rightwards 1s ease-in-out infinite;
    animation-delay: .3s;
}

@keyframes shift-rightwards {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 870px) {
    .contact-flex {
        width: 100%;
        flex-flow: column wrap;
    }
    
    .contact-info {
        width: 100%;
    }
    
    .info-text {
        width: 100%;
        padding-right: 10px;
    }
}