.navigation { 
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(239, 183, 183, 0.5);
    
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .logo {
        font-family: 'Marcellus', sans-serif;
        font-size: 1.4em;
    }
    
    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
        
        .nav-link {
            padding: 0;
            cursor: pointer;
        }
    }

    .logo-container:hover, .logo:hover {
        color: var(--text-color);
    }

    .nav-link:hover {
        color: var(--text-color-4);
    }
}