
.navigation { 
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(189, 75, 75, 0.308);
    
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .logo {
        font-family: 'Marcellus', sans-serif;
        font-size: 1.4em;
    }
    
    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}